body {
  margin-top: 20px;
  background-color: #f2f6fc;
  color: #69707a;
}
.swal-footer {
  text-align: center;
}
.swal-button {
  background-color: red;
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* Responsive adjustments for form elements */
@media (max-width: 768px) {
  .form-control, .btn {
    font-size: 14px;  /* Larger font size for better readability on small devices */
    padding: 10px;    /* Larger padding for easier interaction */
  }

  .btn {
    width: 100%;      /* Full width buttons on smaller screens */
    margin-top: 10px; /* Space out stacked buttons */
  }
  
  /* Adjustments for profile picture */
  .img-account-profile {
    width: 50%;       /* Reduce image size on smaller screens */
    margin: auto;     /* Center align the image */
  }
}
